/target/

.settings/

.project

.idea

.classpath

allure-results/

resultadoTest/Evidencias/loginSucesso/

test-output/junitreports/

test-output/old/Default suite/

test-output/old/Suite/

test-output/
